body {
    font-family: sans-serif;
    margin: 10px;
    padding: 10px;
    
    
    
}

header {
    background-color: black;
    padding: 40px 10px;
    border-radius: 30px;
}
nav li {
    display: inline-block;
    margin-right: 100px;
    padding-right: 150px;
}
.about{
    text-decoration: none;
    font-size: 30px;
    color:white;
    font-style:oblique;
    
    
}
.home{
    text-decoration: none;
    font-size: 30px;
    color:white;
    font-style:oblique;
}
.add{
    text-decoration: none;
    font-size: 30px;
    color:white;
    font-style:oblique;
}
.regi{
    text-decoration: none;
    font-size: 30px;
    color:white;
    font-style:oblique;
}
h1{
    color: gray;
    text-align: center;
    font-size: 80px;
    padding-top: 150px;
}
h2{
    text-align: center;
    font-size: 60px;
}
h3{
    text-align: center;
    font-size: 30px;
    font-style: oblique;
    color:cornflowerblue;
}